.navbar {
    display: flex;
    flex-direction: column; /* Cambiar a Columna */
    justify-content: space-between;
    align-items: flex-start; /* Alinear a la izquierda */
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 180px; /* Ancho fijo para la barra lateral */
    padding: 20px;
    background-color: #004858;
    color: white;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.navbar-links {
    display: flex;
    flex-direction: column; /* Asegura que los enlaces estén en columna */
    list-style: none;
    padding: 0;
    margin: 160px 25px;
    gap: 1rem; /* Espacio entre los enlaces */
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-links li a:hover {
    color: #eda049;
}

.login-btn {
    background-color: #eda049;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #7a4201;
}
